<%= image_tag "https://images.unsplash.com/photo-1551215717-8bc8cfe833ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80", alt:"landing page image", id: "landing-page-image" %>

<h1>Little Shop of Furniture is a fictitious e-commerce website created for a project from the Backend Engineering program at Turing School of Software & Design.</h1>
<h2>Project Contributors:</h2>
<ul>
  <li><a href="https://github.com/chakeresa" target="_blank">Alexandra Chakeres</a></li>
  <li><a href="https://github.com/CosmicSpagetti" target="_blank">Billy Urrutia</a></li>
  <li><a href="https://github.com/smainar" target="_blank">Stella Mainar</a></li>
  <li><a href="https://github.com/hsmitha26" target="_blank">Smitha Hosmani</a></li>
  <li><a href="https://github.com/mikekarnes123" target="_blank">Mike Karnes</a></li>
</ul>
